{% extends '/partials/base.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa fa-solid fa-fire"></i> Candle co.
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/products/candles">Candles</a></li>
              <li><a class="dropdown-item" href="/products/diffusers">Reed Diffusers</a></li>
              <li><a class="dropdown-item" href="/products/soaps">Soaps & Lotions</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row me-1">
          {% if user.is_authenticated %}
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}