{% extends '/partials/nav.html' %}
{% block title %} Home {% endblock %}
{% block link %}
<link rel="preload" href="/static/images/jumbo_image-min.jpg" as="image">
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid .img-fluid">
  <container id="hero" class="container-fluid hero-text text-left">
    <div class="hero-text mt-4">
      <h1 class="display-3 ms-4">Luminaire Candles</h1>
      <p class="ms-4">Elevate your senses with our all-natural candles</p>
      <p class="ms-4">Handmade, Organic and Non-Toxic</p>
      <p class="hero-btn ms-4">
        <a class="btn btn-lg" href="#collection" role="button">Shop our collections</a>
      </p>
    </div>
  </container>
</div>
<div id="collection" class="container-fluid text-center">
    <h1>Latest Collections</h1>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/products/candles" class="collection-box">
        <img src="/static/images/collage/candle_collage.jpg" alt="Candles">
        <div class="overlay">
          <div class="overlay-text">Candles</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/products/diffusers" class="collection-box">
        <img src="/static/images/collage/diffuser_collage.jpg" alt="Reed Diffusers">
        <div class="overlay">
          <div class="overlay-text">Reed Diffusers</div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/products/soaps" class="collection-box">
        <img src="/static/images/collage/soaps_collage.jpg" alt="Soaps">
        <div class="overlay">
          <div class="overlay-text">Soaps</div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}